{% extends "base.html.twig" %}

{% set bodyClass = 'flex flex-col min-h-screen' %}

{% block title %}Hello world!
{% endblock %}

{% block body %}
	{%  include 'layout/header/header.html.twig' with { headerData: data.headerData } %}
	<main id="main" class='grow'>
		{% block main %}
			<div class="grid place-content-center gap-4">
				<img class="object-contain h-80" src="img/home.png" alt="thing"/>

				<div class="h-40 bg-slate-100 rounded-2 border-2 border-slate-200 text-slate-400">Place your ad here</div>


			</div>
		{% endblock %}
	</main>
	{% include 'layout/footer/footer.html.twig' %}
{% endblock %}
