{% extends "base.html.twig" %}

{% set bodyClass = 'flex flex-col min-h-screen' %}

{% block title %}Hello world!
{% endblock %}

{% block body %}
	<header>
		{%  include 'layout/header/header.html.twig' %}
	</header>
	<main class='grow'>
		wellcome
	</main>
	<footer>
		{% include 'layout/footer/footer.html.twig' %}
	</footer>
{% endblock %}
