{% extends "base.html.twig" %}

{% set bodyClass = 'flex flex-col min-h-screen' %}

{% block title %}Hello world!
{% endblock %}

{% block body %}
	{% block header %}
		<header>
			{%  include 'layout/header/header.html.twig' %}
		</header>
	{% endblock %}
	{% block main %}
		<main class='grow'>
			wellcome
		</main>
	{% endblock %}
	{% block footer %}
		<footer>
			{% include 'layout/footer/footer.html.twig' %}
		</footer>
	{% endblock %}
{% endblock %}
