{% extends "base.html.twig" %}

{% set bodyClass = 'flex flex-col min-h-screen' %}

{% block title %}Hello world!
{% endblock %}

{% block body %}
	{%  include 'layout/header/header.html.twig' with { headerData: data.headerData } %}
	<main class='grow'>
		{% block main %}
			wellcome
		{% endblock %}
	</main>
	{% include 'layout/footer/footer.html.twig' %}
{% endblock %}
