{% extends "base.html.twig" %}

{% set bodyClass = 'flex flex-col min-h-screen' %}

{% block title %}PLP
{% endblock %}

{% block body %}
	{%  include 'layout/header/header.html.twig' with { headerData: data.headerData } %}
	<main>
		{% block main %}
			<div class="grid grid-cols-4">
				{% for product in data.plpData.abstractProducts %}
					{% include "plp/_product-tile.html.twig" with { product } %}
				{% endfor %}
			</div>
		{% endblock %}
	</main>
	{% include 'layout/footer/footer.html.twig' %}

{% endblock %}
