{% extends "base.html.twig" %}

{% set bodyClass = 'flex flex-col min-h-screen' %}

{% block title %}PLP
{% endblock %}

{% block body %}
	{%  include 'layout/header/header.html.twig' with { headerData: data.headerData } %}
	<main class="grow">
		{% block main %}
			<div class="flex gap-4">
				<div class="pl-4 pr-8 border-r-2">
					{% include "plp/_categories-navigation.html.twig" with { class: 'sticky top-4' } %}
				</div>
				<div class="grid grid-cols-4 grow">
					{% if data.plpData.abstractProducts is empty %}
						<div>No products found</div>
					{% else %}
						{% for product in data.plpData.abstractProducts %}
							{% include "plp/_product-tile.html.twig" with { product } %}
						{% endfor %}
					{% endif %}

				</div>
			</div>
		{% endblock %}
	</main>
	{% include 'layout/footer/footer.html.twig' %}

{% endblock %}
