{% set nav = {
  "name": "Top Navigation",
  "isActive": true,
  "nodes": [
    {
      "resourceId": null,
      "nodeType": "label",
      "isActive": true,
      "title": "Top Categories",
      "url": null,
      "cssClass": null,
      "validFrom": null,
      "validTo": null,
      "children": [
        {
          "resourceId": 6,
          "nodeType": "category",
          "isActive": true,
          "title": "Notebooks",
          "url": "/en/computer/notebooks",
          "cssClass": null,
          "validFrom": null,
          "validTo": null,
          "children": []
        },
        {
          "resourceId": 8,
          "nodeType": "category",
          "isActive": true,
          "title": "Tablets",
          "url": "/en/computer/tablets",
          "cssClass": null,
          "validFrom": null,
          "validTo": null,
          "children": []
        },
        {
          "resourceId": 12,
          "nodeType": "category",
          "isActive": true,
          "title": "Smartphones",
          "url": "/en/telecom-&-navigation/smartphones",
          "cssClass": null,
          "validFrom": null,
          "validTo": null,
          "children": []
        },
        {
          "resourceId": 10,
          "nodeType": "category",
          "isActive": true,
          "title": "Smartwatches",
          "url": "/en/smart-wearables/smartwatches",
          "cssClass": null,
          "validFrom": null,
          "validTo": null,
          "children": []
        }
      ]
    },
    {
      "resourceId": 5,
      "nodeType": "category",
      "isActive": true,
      "title": "Computer",
      "url": "/en/computer",
      "cssClass": null,
      "validFrom": null,
      "validTo": null,
      "children": [
        {
          "resourceId": 6,
          "nodeType": "category",
          "isActive": true,
          "title": "Notebooks",
          "url": "/en/computer/notebooks",
          "cssClass": null,
          "validFrom": null,
          "validTo": null,
          "children": []
        },
        {
          "resourceId": 7,
          "nodeType": "category",
          "isActive": true,
          "title": "Workstations",
          "url": "/en/computer/pc's/workstations",
          "cssClass": null,
          "validFrom": null,
          "validTo": null,
          "children": []
        },
        {
          "resourceId": 8,
          "nodeType": "category",
          "isActive": true,
          "title": "Tablets",
          "url": "/en/computer/tablets",
          "cssClass": null,
          "validFrom": null,
          "validTo": null,
          "children": []
        }
      ]
    },
    {
      "resourceId": 2,
      "nodeType": "category",
      "isActive": true,
      "title": "Cameras",
      "url": "/en/cameras-&-camcorders",
      "cssClass": null,
      "validFrom": null,
      "validTo": null,
      "children": [
        {
          "resourceId": 4,
          "nodeType": "category",
          "isActive": true,
          "title": "Digital Cameras",
          "url": "/en/cameras-&-camcorders/digital-cameras",
          "cssClass": null,
          "validFrom": null,
          "validTo": null,
          "children": []
        },
        {
          "resourceId": 3,
          "nodeType": "category",
          "isActive": true,
          "title": "Camcorders",
          "url": "/en/cameras-&-camcorders/camcorders",
          "cssClass": null,
          "validFrom": null,
          "validTo": null,
          "children": []
        }
      ]
    },
    {
      "resourceId": null,
      "nodeType": "label",
      "isActive": true,
      "title": "Other Categories",
      "url": null,
      "cssClass": null,
      "validFrom": null,
      "validTo": null,
      "children": [
        {
          "resourceId": 11,
          "nodeType": "category",
          "isActive": true,
          "title": "Telecom & Navigation",
          "url": "/en/telecom-&-navigation",
          "cssClass": null,
          "validFrom": null,
          "validTo": null,
          "children": [
            {
              "resourceId": 12,
              "nodeType": "category",
              "isActive": true,
              "title": "Smartphones",
              "url": "/en/telecom-&-navigation/smartphones",
              "cssClass": null,
              "validFrom": null,
              "validTo": null,
              "children": []
            }
          ]
        },
        {
          "resourceId": 9,
          "nodeType": "category",
          "isActive": true,
          "title": "Smart Wearables",
          "url": "/en/smart-wearables",
          "cssClass": null,
          "validFrom": null,
          "validTo": null,
          "children": [
            {
              "resourceId": 10,
              "nodeType": "category",
              "isActive": true,
              "title": "Smartwatches",
              "url": "/en/smart-wearables/smartwatches",
              "cssClass": null,
              "validFrom": null,
              "validTo": null,
              "children": []
            }
          ]
        }
      ]
    },
    {
      "resourceId": null,
      "nodeType": "label",
      "isActive": true,
      "title": "More",
      "url": null,
      "cssClass": null,
      "validFrom": null,
      "validTo": null,
      "children": [
        {
          "resourceId": null,
          "nodeType": "label",
          "isActive": true,
          "title": "CMS Pages",
          "url": null,
          "cssClass": null,
          "validFrom": null,
          "validTo": null,
          "children": [
            {
              "resourceId": 2,
              "nodeType": "cms_page",
              "isActive": true,
              "title": "GTC",
              "url": "/en/gtc",
              "cssClass": null,
              "validFrom": null,
              "validTo": null,
              "children": []
            },
            {
              "resourceId": 3,
              "nodeType": "cms_page",
              "isActive": true,
              "title": "Data privacy",
              "url": "/en/privacy",
              "cssClass": null,
              "validFrom": null,
              "validTo": null,
              "children": []
            },
            {
              "resourceId": 6,
              "nodeType": "cms_page",
              "isActive": true,
              "title": "Demo Landing Page",
              "url": "/en/demo-landing-page",
              "cssClass": null,
              "validFrom": null,
              "validTo": null,
              "children": []
            }
          ]
        },
        {
          "resourceId": null,
          "nodeType": "label",
          "isActive": true,
          "title": "External Links",
          "url": null,
          "cssClass": null,
          "validFrom": null,
          "validTo": null,
          "children": [
            {
              "resourceId": null,
              "nodeType": "external_url",
              "isActive": true,
              "title": "Spryker Tech Blog",
              "url": "https://tech.spryker.com/",
              "cssClass": null,
              "validFrom": null,
              "validTo": null,
              "children": []
            },
            {
              "resourceId": null,
              "nodeType": "external_url",
              "isActive": true,
              "title": "Spryker Documentation",
              "url": "http://spryker.github.io",
              "cssClass": null,
              "validFrom": null,
              "validTo": null,
              "children": []
            }
          ]
        },
        {
          "resourceId": 13,
          "nodeType": "category",
          "isActive": true,
          "title": "Product Bundles",
          "url": "/en/product-bundles",
          "cssClass": null,
          "validFrom": null,
          "validTo": null,
          "children": []
        },
        {
          "resourceId": null,
          "nodeType": "link",
          "isActive": true,
          "title": "Product Sets",
          "url": "/en/product-sets",
          "cssClass": null,
          "validFrom": null,
          "validTo": null,
          "children": []
        },
        {
          "resourceId": 14,
          "nodeType": "category",
          "isActive": true,
          "title": "Variant Showcase",
          "url": "/en/variant-showcase",
          "cssClass": null,
          "validFrom": null,
          "validTo": null,
          "children": []
        },
        {
          "resourceId": null,
          "nodeType": "link",
          "isActive": true,
          "title": "Gift Cards",
          "url": "/en/gift-cards",
          "cssClass": null,
          "validFrom": null,
          "validTo": null,
          "children": []
        },
        {
          "resourceId": null,
          "nodeType": "link",
          "isActive": true,
          "title": "Configurable Bundle List",
          "url": "/en/configurable-bundle/configurator/template-selection",
          "cssClass": null,
          "validFrom": null,
          "validTo": null,
          "children": []
        }
      ]
    },
    {
      "resourceId": null,
      "nodeType": "link",
      "isActive": true,
      "title": "Sale %",
      "url": "/en/outlet",
      "cssClass": "sale__red",
      "validFrom": null,
      "validTo": null,
      "children": []
    },
    {
      "resourceId": null,
      "nodeType": "link",
      "isActive": true,
      "title": "New",
      "url": "/en/new",
      "cssClass": null,
      "validFrom": null,
      "validTo": null,
      "children": []
    },
    {
      "resourceId": null,
      "nodeType": "label",
      "isActive": true,
      "title": "Merchants",
      "url": null,
      "cssClass": null,
      "validFrom": null,
      "validTo": null,
      "children": [
        {
          "resourceId": null,
          "nodeType": "link",
          "isActive": true,
          "title": "Spryker",
          "url": "/en/merchant/spryker",
          "cssClass": null,
          "validFrom": null,
          "validTo": null,
          "children": []
        },
        {
          "resourceId": null,
          "nodeType": "link",
          "isActive": true,
          "title": "Video King",
          "url": "/en/merchant/video-king",
          "cssClass": null,
          "validFrom": null,
          "validTo": null,
          "children": []
        },
        {
          "resourceId": null,
          "nodeType": "link",
          "isActive": true,
          "title": "Budget Cameras",
          "url": "/en/merchant/budget-cameras",
          "cssClass": null,
          "validFrom": null,
          "validTo": null,
          "children": []
        },
        {
          "resourceId": null,
          "nodeType": "link",
          "isActive": true,
          "title": "Sony Experts",
          "url": "/en/merchant/sony-experts",
          "cssClass": null,
          "validFrom": null,
          "validTo": null,
          "children": []
        }
      ]
    }
  ]
} %}


<div class="bg-slate-300 mb-8">
	{% if nav is defined %}
		<nav class="flex items-center gap-4 p-4 mx-auto">
			{% for node in nav.nodes %}
				{% if node.nodeType == 'category' and node.resourceId is defined %}
					<a hx-get="/category/{{ node.resourceId }}" hx-push-url="true" hx-target="main" class="p-4 hover:bg-slate-400/50" href="/category/{{ node.resourceId }}">{{ node.title }}</a>
				{% endif %}
			{% endfor %}
		</nav>
	{% endif %}
</div>
